.imgProfile{
    height: 350px;
    width: 250px;
    padding-top: 50px;
    object-fit: cover;
}

.textProfile{
    height: 350px;
    width: 250px;
    padding-top: 50px;
    object-fit: cover;
    color: white;
}
.ratingProfile{
    height: 350px;
    width: 250px;
    padding-top: 50px;
    object-fit: cover;
    color: white;
}